.events__container {
  position: relative;
  padding-bottom: 10px;
}

.events__title {
  margin-bottom: 13px;
}

.swiper-three {
  max-width: 1600px;
  height: var(--height-swiper-three);
}

.events__swiper-acticle {
  height: 100%;
}

.events__slide-btn {
  position: relative;
  max-width: 1600px;
}

.events__slide-btn .events__swiper-button-next,
.events__slide-btn .events__swiper-button-prev {
  background-color: var(--color-gallery);
  width: 48px;
  height: 48px;
  border: 2px solid var(--color-gallery);
  border-radius: 50px;
  background-position: center;
  background-size: 17px 17px;
  background-repeat: no-repeat;
  transition: border-color .3s ease-in-out, background-color .3s ease-in-out;
}

.events__slide-btn .events__swiper-button-next {
  background-image: url(../img/events-swiper-next.svg);
}

.events__slide-btn .events__swiper-button-prev {
  background-image: url(../img/events-swiper-prev.svg);
}

.events__swiper-button-next.swiper-button-disabled,
.events__swiper-button-prev.swiper-button-disabled {
  opacity: 0;
  cursor: auto;
  pointer-events: none;
}

.events__slide-btn .events__swiper-button-prev,
.events__slide-btn .events__swiper-button-next {
  top: calc(var(--height-swiper-three)/ 2);
}

.events__slide-btn .events__swiper-button-prev {
  left: -25px;
  right: auto;
  /* left: auto;
  right: calc(100% - 38px); */
}

.events__slide-btn .events__swiper-button-next {
  left: auto;
  right: -25px;
  /* left: calc(100% - 38px);
  right: auto; */
}

.events__swiper-button-prev::after,
.events__swiper-button-next::after {
  display: none;
}

.events__slide-btn .events__swiper-button-next.focus-visible,
.events__slide-btn .events__swiper-button-prev.focus-visible {
  border-color: var(--color-active);
  outline: none;
}

.events__slide-btn .events__swiper-button-next:hover,
.events__slide-btn .events__swiper-button-prev:hover {
  border-color: var(--color-accent);
  background-color: var(--color-accent);
}

.events__slide-btn .events__swiper-button-next:active,
.events__slide-btn .events__swiper-button-prev:active {
  border-color: var(--color-active);
  background-color: var(--color-accent);
}

.events__swiper-pagination {
  display: none;
}

.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom {
  bottom: -30px;
}

.events__swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--color-dove);
}

.events__swiper-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
}

.card-events {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-caca);
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
}

.card-events--one {
  background-image: url(../img/event1@1x.jpg);
}

.card-events--two {
  background-image: url(../img/event2@2x.jpg);
}

.card-events--three {
  background-image: url(../img/event3@1x.jpg);
}

.card-events--four {
  background-image: url(../img/event4@1x.jpg);
}

.card-events--five {
  background-image: url(../img/event5@1x.jpg);
}

.card-events__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 100%;
  padding: 313px 50px 40px;
}

.card-events__name {
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: var(--color-dusty);
}

.card-events__subtitle {
  margin-bottom: 7px;
}

.card-events__link {
  color: var(--color-amethyst);
}

.card-events__link:active {
  color: var(--color-black);
}

.card-events__link::before {
  bottom: -5px;
}

.card-events-link__text {
  border-bottom: 1px solid currentColor;
}
