.gallery {
  color: var(--color-white);
  background-image: url(../img/gallery-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.gallery__container {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 81px;
}

.gallery__left {
  display: flex;
  flex-direction: column;
  width: 28%;
}

.gallery__right {
  padding-top: 23px;
  width: 72%;
}

.gallery__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 100%;
}

.gallery__title {
  margin-bottom: 15px;
}

.content__text {
  display: inline-block;
  margin-bottom: 9px;
  font-weight: 600;
}


/* choices*/

.choices {
  width: 400px;
}

.choices.focus-visible {
  background-color: rgba(255, 255, 255, 0.2);
}

.choices[data-type*=select-one] .choices__inner {
  padding: 0;
  font-size: 16px;
}

.choices__list--single {
  padding-left: 16px;
}

.is-open .choices__inner {
  border-radius: 6px;
  border-color: var(--color-white);
}

.choices__inner {
  border-radius: 6px;
  background-color: transparent;
  border: 1px solid var(--color-white);
  color: var(--color-white);
  transition: background-color .3s ease-in-out;
}

.choices__inner:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.choices__list--dropdown .choices__item {
  border: 1px solid var(--color-grey);
  padding: 1px 10px 2px 15px;
  font-size: 16px;
}

.choices__list--dropdown,
.choices__list[aria-expanded] {
  background-color: transparent;
  transition: background-color .3s ease-in-out;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  transition: background-color .3s ease-in-out;
  background-color: rgba(255, 255, 255, 0.2);
}

.is-open .choices__list--dropdown,
.is-open .choices__list[aria-expanded] {
  border-radius: 6px;
  border: 1px solid var(--color-grey);
}

#choices--selectChoices-item-choice-1 {
  display: none;
}

.is-selected {
  display: none;
}

.choices__item--selectable.is-highlighted::after {
  display: none;
}

.choices::after {
  opacity: 0;
}

.choices::before {
  content: '';
  position: absolute;
  right: 15.5px;
  top: 39%;
  margin-top: -2.5px;
  border-right: 1px solid;
  border-bottom: 1px solid;
  height: 8px;
  width: 8px;
  transform: rotate(45deg);
  pointer-events: none;
}

.choices.is-open::before {
  margin-top: 4.5px;
  transform: rotate(225deg);
}


/* checkbox */

.checkbox__input {
  opacity: 0;
  margin-right: 5px;
}

.checkbox__label {
  position: relative;
}

.checkbox__visible {
  cursor: pointer;
  transition: color .2s ease-in-out;
}

.checkbox__visible::before,
.checkbox__visible::after {
  box-sizing: border-box;
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.checkbox__visible::before {
  left: 0;
  width: 12px;
  height: 12px;
  border: 1px solid currentColor;
}

.checkbox__visible::after {
  left: 4px;
  width: 4px;
  height: 4px;
  border-radius: 50px;
  background-color: currentColor;
  opacity: 0;
  transition: opacity .2s ease-in-out;
}

.checkbox__input:checked+.checkbox__visible {
  color: var(--color-accent);
}

.checkbox__input:checked+.checkbox__visible::after {
  opacity: 1;
}

.checkbox__input.focus-visible+.checkbox__visible {
  color: var(--color-accent);
}

.checkbox__label:hover .checkbox__visible {
  color: var(--color-accent);
}


/* swiper */

.swiper-second {
  width: 1150px;
  height: 350px;
}

.gallery__swiper-link>.swiper-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__swiper-link {
  position: relative;
  z-index: 0;
  cursor: pointer;
}

.gallery__swiper-link::before,
.gallery__swiper-link::after {
  content: "";
  position: absolute;
  z-index: 100;
  opacity: 0;
  transition: opacity .3s ease-in;
}

.gallery__swiper-link::before {
  top: 25px;
  right: 25px;
  bottom: 25px;
  left: 25px;
  background-color: #000;
  /* opacity: .5; */
}

.gallery__swiper-link::after {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(../img/zoom.png);
  background-repeat: no-repeat;
  background-size: 81px 79px;
  background-position: center;
}

.gallery__swiper-link:hover::before {
  opacity: .5;
}

.gallery__swiper-link:hover::after {
  opacity: 1;
}

.gallery__slide-btn {
  display: flex;
  align-items: center;
  margin-bottom: 29px;
}

.gallery__swiper-button-prev,
.gallery__swiper-button-next,
.gallery__swiper-pagination {
  position: static;
}

.gallery__swiper-pagination {
  width: 7%;
}

.gallery__slide-btn .swiper-button-next,
.gallery__slide-btn .swiper-button-prev {
  margin-top: 0;
  border: 2px solid var(--color-dove);
  width: 28px;
  height: 28px;
  border-radius: 50px;
  background-color: var(--color-dove);
  background-position: center;
  background-size: 9px 9px;
  background-repeat: no-repeat;
  transition: border-color .3s ease-in-out, background-color .3s ease-in-out, opacity .4s ease-in-out;
}

.gallery__slide-btn .swiper-button-next {
  background-image: url(../img/swiper-next.svg);
}

.gallery__slide-btn .swiper-button-prev {
  background-image: url(../img/swiper-prev.svg);
}

.gallery__slide-btn .swiper-button-next:after,
.gallery__slide-btn .swiper-button-prev:after {
  display: none;
}

.gallery__slide-btn .swiper-button-next.focus-visible,
.gallery__slide-btn .swiper-button-prev.focus-visible {
  border-color: var(--color-black);
  outline: none;
}

.gallery__slide-btn .swiper-button-next:hover,
.gallery__slide-btn .swiper-button-prev:hover {
  border-color: var(--color-amethyst);
  background-color: var(--color-amethyst);
}

.gallery__slide-btn .swiper-button-next:active,
.gallery__slide-btn .swiper-button-prev:active {
  border-color: var(--color-active);
  background-color: var(--color-active);
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: .5;
}


/* popup */

.popup {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s ease-in-out, visibility .5s ease-in-out;
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup__wrap {
  width: min(900px, 50%);
}

.popup__close {
  position: relative;
  display: block;
}

.popup__close::before {
  content: url(../img/popup-close.svg);
  position: absolute;
  z-index: 200;
  top: 16px;
  right: 22px;
  width: 16px;
  height: 16px;
}

.popup__close::after {
  content: "";
  position: fixed;
  z-index: 50;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .7);
  cursor: pointer;
}

.popup__figure {
  position: relative;
  z-index: 100;
  margin: 0;
  color: var(--color-main);
  background-color: var(--color-white);
}

.popup__figure>* {
  position: relative;
  z-index: 100;
}

.popup__figcapture {
  display: flex;
  flex-direction: column;
  padding: 50px;
  padding-top: 55px;
}

.popup__subtitle {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.popup__subtitle-text {
  margin-bottom: 0px;
  font-size: 16px;
  line-height: 22px;
}
