.header {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  width: 100%;
  color: var(--color-white);
}

.header-top {
  background-color: var(--color-black);
}

.header-top__container {
  display: flex;
  align-items: center;
  padding-top: 29px;
  padding-bottom: 31px;
}

.header__picture {
  margin-right: 178px;
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

.nav__item:not(:last-child) {
  margin-right: 63px;
}

.link-enter {
  margin-left: auto;
  font-size: 18px;
  line-height: 25px;
}

.link-enter:before {
  content: "";
  display: inline-block;
  left: 0;
  margin-right: 8px;
  width: 13px;
  height: 13px;
  background-image: url(../img/link_enter.svg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.header-bottom {
  background-color: rgba(0, 0, 0, 0.4);
}

.header-bottom__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 22px;
  padding-bottom: 22px;
}

.main-menu {
  display: flex;
}

.main-menu__item:not(:last-child) {
  margin-right: 101px;
}

.main-menu__link,
.main-menu-inner__link {
  margin: 0;
  font-weight: 400;
}

.main-menu__item {
  font-size: 18px;
  line-height: 25px;
  cursor: pointer;
}

.main-menu__link:after {
  content: "";
  right: 0;
  display: inline-block;
  width: 12px;
  height: 7px;
  background-image: url(../img/check.svg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transform: translateX(1px);
}

.main-menu-inner {
  display: none;
}

.seach-form {
  display: flex;
  align-items: center;
  min-width: 250px;
}

.seach-form__btn {
  margin-right: 10px;
  width: 23px;
  height: 22px;
  color: var(--color-white);
}

.seach-form__icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.seach-form__icon rect,
.seach-form__icon path {
  fill: currentColor;
}

.seach-form__input {
  padding: 3px 5px 3px 0;
  border: none;
  border-bottom: 1px solid var(--color-white);
  width: 100%;
  background-color: transparent;
}

.seach-form__input::placeholder {
  font-size: 18px;
  line-height: 25px;
  color: var(--color-white);
}
