.header {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  width: 100%;
  color: var(--color-white);
}

.header-top {
  background-color: var(--color-black);
}

.header-top__container {
  display: flex;
  align-items: center;
  padding-top: 29px;
  padding-bottom: 31px;
}

.header__picture {
  margin-right: 178px;
}

.header__nav {
  margin-right: auto;
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* flex-direction: row; */
  flex-wrap: wrap;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

.nav__item:not(:last-child) {
  margin-right: 63px;
}

.link-enter {
  font-size: 18px;
  line-height: 25px;
}

.link-enter__icon {
  margin-right: 5px;
}

.link-enter__icon path {
  fill: currentColor;
}

.main-menu-btn--active {
  color: var(--color-active);
}

.main-menu-btn__icon {
  stroke: currentColor;
  transition: transform .3s ease-in-out;
}

.main-menu-btn.main-menu-btn--active .main-menu-btn__icon {
  transform: rotate(180deg);
}

.main-menu-btn__text {
  margin-right: 2px;
}

.header-bottom {
  background-color: rgba(0, 0, 0, 0.4);
}

.header-bottom__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 23px;
  padding-bottom: 23px;
}

.main-menu__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.main-menu__item:not(:last-child) {
  margin-right: 98px;
}

.main-menu__item {
  position: relative;
  font-size: 18px;
  line-height: 25px;
  cursor: pointer;
}

.main-menu-dropdown {
  position: absolute;
  z-index: 100;
  top: 48px;
  left: 0;
  padding: 40px;
  width: 300px;
  /* высота фиксированна для демонстрации скролла */
  /* max-height: 325px; */
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s ease, visibility .3s ease-in-out;
}

.main-menu-dropdown--active {
  opacity: 1;
  visibility: visible;
}

.main-menu-dropdown__wrap {
  display: flex;
  flex-direction: column;
  max-height: 222px;
}

.main-menu-dropdown__item {
  position: relative;
  padding: 9px 14px 12px;
  border: 2px solid transparent;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: border-color .3s ease, opacity 1s ease;
}

.main-menu-dropdown__item:not(:last-child) {
  margin-bottom: 15px;
}

.main-menu-dropdown__item::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-hover);
  opacity: 0;
  transition: opacity .3s ease;
}

.main-menu-dropdown__item>* {
  position: relative;
  z-index: 10;
}

.main-menu-dropdown__item:focus-within {
  border-color: var(--color-amethyst);
  outline: none;
}

.main-menu-dropdown__item:hover {
  border-color: var(--color-amethyst);
}

.main-menu-dropdown__item:active {
  border-color: rgb(209, 169, 240);
}

.main-menu-dropdown__item:active::after {
  opacity: .4;
}

.main-menu-dropdown__link {
  outline: none;
}

.main-menu-dropdown__item::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-hover);
  opacity: 0;
}

.main-menu-dropdown__item--bg1-1 {
  background-image: url(../img/bg1_1.jpg);
}

.main-menu-dropdown__item--bg1-2 {
  background-image: url(../img/bg1_2.jpg);
}

.main-menu-dropdown__item--bg1-3 {
  background-image: url(../img/bg1_3.jpg);
}

.main-menu-dropdown__item--bg1-4 {
  background-image: url(../img/bg1_4.jpg);
}

.main-menu-dropdown__item--bg2-1 {
  background-image: url(../img/bg2_1.jpg);
}

.main-menu-dropdown__item--bg2-2 {
  background-image: url(../img/bg2_2.jpg);
}

.main-menu-dropdown__item--bg2-3 {
  background-image: url(../img/bg2_3.jpg);
}

.main-menu-dropdown__item--bg2-4 {
  background-image: url(../img/bg2_4.jpg);
}

.main-menu-dropdown__item--bg3-1 {
  background-image: url(../img/bg3_1.jpg);
}

.main-menu-dropdown__item--bg3-2 {
  background-image: url(../img/bg3_2.jpg);
}

.main-menu-dropdown__item--bg3-3 {
  background-image: url(../img/bg3_3.jpg);
}

.main-menu-dropdown__item--bg3-4 {
  background-image: url(../img/bg3_4.jpg);
}

.main-menu-dropdown__item--bg4-4 {
  background-image: url(../img/bg4_4.jpg);
}

.main-menu-dropdown__item--bg4-1 {
  background-image: url(../img/bg4_1.jpg);
}

.main-menu-dropdown__item--bg4-2 {
  background-image: url(../img/bg4_2.jpg);
}

.main-menu-dropdown__item--bg4-3 {
  background-image: url(../img/bg4_3.jpg);
}

.main-menu-dropdown__item--bg4-4 {
  background-image: url(../img/bg4_4.jpg);
}

.main-menu-dropdown__item--bg5-1 {
  background-image: url(../img/bg5_1.jpg);
}

.main-menu-dropdown__item--bg5-2 {
  background-image: url(../img/bg5_2.jpg);
}

.main-menu-dropdown__item--bg5-3 {
  background-image: url(../img/bg5_3.jpg);
}

.main-menu-dropdown__item--bg5-4 {
  background-image: url(../img/bg5_4.jpg);
}

.seach-form {
  display: flex;
  align-items: center;
  min-width: 250px;
}

.seach-form__btn {
  margin-right: 10px;
  width: 23px;
  height: 22px;
  color: var(--color-white);
}

.seach-form__icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.seach-form__icon rect,
.seach-form__icon path {
  fill: currentColor;
}

.seach-form__input {
  padding: 3px 5px 3px 0;
  border: none;
  border-bottom: 1px solid var(--color-white);
  width: 100%;
  color: var(--color-white);
  background-color: transparent;
  transition: border-color .3s ease-in-out;
}

.seach-form__input::placeholder {
  font-size: 18px;
  line-height: 25px;
  color: var(--color-white);
  transition: opacity .3s ease-in-out;
}

.seach-form__input.focus-visible {
  outline: none;
  border-bottom-color: var(--color-active);
}

.seach-form__input:hover {
  border-bottom-color: var(--color-hover);
}

.seach-form__input.focus-visible::placeholder {
  opacity: 0;
}
