@media (max-width: 1680px) {
  .container {
    padding-right: 50px;
    padding-left: 50px;
  }

  /* header */
  .header__picture {
    margin-right: 100px;
  }

  .nav__item:not(:last-child) {
    margin-right: 50px;
  }

  .main-menu__item:not(:last-child) {
    margin-right: 40px;
  }

  /* gallery */
  .gallery__container {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }

  .gallery__left {
    -webkit-box-flex: .3;
    -ms-flex-positive: .3;
    flex-grow: .3;
  }

  .gallery__swiper-pagination {
    width: 12%;
  }

  .gallery__slide-btn .swiper-button-next,
  .gallery__slide-btn .swiper-button-prev {
    width: 31px;
    height: 31px;
  }

  .swiper-second {
    max-width: 594px;
    height: auto;
  }

  /* catalog */
  .empty-content__descr {
    width: 95%;
  }

  /* events */
  .events__slide-btn {
    display: none;
  }

  .events__swiper-pagination {
    display: block;
  }

  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0px var(--swiper-pagination-bullet-horizontal-gap, 8px);
  }
}

@media (max-width: 1300px) {
  :root {
    --height-swiper-three: 683px;
    --height-swiper-four: 128px;
  }

  .descr--width {
    width: auto;
  }

  /* header */
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 29px 50px;
    background-color: var(--color-black);
  }

  .header-top {
    -ms-flex-preferred-size: calc(100% / 2 + 188px / 2);
    flex-basis: calc(100% / 2 + 188px / 2);
  }

  .header-top__container {
    padding: 0;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .header-bottom {
    -ms-flex-preferred-size: calc(100% / 2 - 188px / 2);
    flex-basis: calc(100% / 2 - 188px / 2);
  }

  .header-bottom__container {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 0;
    background-color: var(--color-black);
  }

  .header__picture {
    margin-right: 0;
  }

  .header__popup {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: transparent;
    overflow: auto;
    transition: background-color .3s ease-in-out;
    -webkit-transition: background-color .3s ease-in-out;
    -moz-transition: background-color .3s ease-in-out;
    -ms-transition: background-color .3s ease-in-out;
    -o-transition: background-color .3s ease-in-out;
  }

  .header__popup--active {
    z-index: 200;
    background-color: rgba(0, 0, 0, .9);
    position: fixed;
    transition: background-color .3s ease-in-out;
    -webkit-transition: background-color .3s ease-in-out;
    -moz-transition: background-color .3s ease-in-out;
    -ms-transition: background-color .3s ease-in-out;
    -o-transition: background-color .3s ease-in-out;
  }

  .header__popup-wrap {
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 95px 48px 50px;
    /* min-height: 738px; */
    height: calc(100vh - 120px);
    /* height: 100vh; */
    opacity: 0;
    visibility: hidden;
    transition: opacity .8s ease-in-out;

    -moz-transition: opacity .8s ease-in-out;
    -ms-transition: opacity .8s ease-in-out;
    -o-transition: opacity .8s ease-in-out;
  }

  .header__popup-wrap--active {
    position: static;
    opacity: 1;
    visibility: visible;
    transition: opacity .8s ease-in-out;
    -webkit-transition: opacity .8s ease-in-out;
    -moz-transition: opacity .8s ease-in-out;
    -ms-transition: opacity .8s ease-in-out;
    -o-transition: opacity .8s ease-in-out;
  }

  .header__nav {
    margin-right: 0;
  }

  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    font-size: 24px;
    line-height: 1;
  }

  .nav__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 40px;
  }

  .header__link-enter-inner {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .header__main-menu {
    display: none;
  }

  .header__btns {
    width: 314px;
  }

  .btn-loop {
    width: 31px;
    height: 29px;
    pointer-events: auto;
  }

  .seach-form {
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s ease, visibility .3s ease;
    -webkit-transition: opacity .3s ease, visibility .3s ease;
    -moz-transition: opacity .3s ease, visibility .3s ease;
    -ms-transition: opacity .3s ease, visibility .3s ease;
    -o-transition: opacity .3s ease, visibility .3s ease;
  }

  .seach-form__input {
    margin-right: 16px;
    width: calc(100% - 16px);
  }

  .seach-form__btn-close {
    width: 33px;
    height: 33px;
    background-position-y: 5px;
  }

  .header__btns-inner {
    transform: translate(90%, 0%);
    -webkit-transition: transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out;
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
    -webkit-transform: translate(90%, 0%);
    -moz-transform: translate(90%, 0%);
    -ms-transform: translate(90%, 0%);
    -o-transform: translate(90%, 0%);
  }

  .header__btns-inner--active {
    -webkit-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
  }

  .header__btns-inner--active .seach-form {
    visibility: visible;
    opacity: 1;
  }

  .seach-form--display {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .seach-form__btn-close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header__link-enter {
    border: 2px solid var(--color-amethyst);
    border-radius: 100px;
    padding: 14px 91px;
    transition: color .3s ease-in-out, border-color .3s ease-in-out, background-color .3s ease-in-out;
    -webkit-transition: color .3s ease-in-out, border-color .3s ease-in-out, background-color .3s ease-in-out;
    -moz-transition: color .3s ease-in-out, border-color .3s ease-in-out, background-color .3s ease-in-out;
    -ms-transition: color .3s ease-in-out, border-color .3s ease-in-out, background-color .3s ease-in-out;
    -o-transition: color .3s ease-in-out, border-color .3s ease-in-out, background-color .3s ease-in-out;
  }

  .header__link-enter:focus {
    outline: none;
  }

  .header__link-enter.focus-visible {
    outline: 2px solid var(--color-hover);
    outline-offset: 3px;
  }

  .header__link-enter.focus-visible::before {
    background-color: transparent;
  }

  .header__link-enter:hover {
    color: var(--color-white);
    background-color: var(--color-amethyst);
  }

  .header__link-enter:active {
    border-color: var(--color-accent);
    background-color: var(--color-active);
  }

  /* hero */
  .hero {
    min-height: 768px;
  }

  .hero__container {
    padding-top: 207px;
  }

  .hero__swiper-slide--one {
    background-image: url(../img/hero-bg1-tablet1024@1x.jpg);
  }

  .hero__swiper-slide--two {
    background-image: url(../img/hero-bg2-tablet1024@1x.jpg);
  }

  .hero__swiper-slide--three {
    background-image: url(../img/hero-bg3-tablet1024@1x.jpg);
  }

  .hero__content {
    max-width: 100%;
  }

  .hero__descr {
    max-width: 71%;
    margin-bottom: 126px;
  }

  /* gallery */
  .gallery__container {
    padding-bottom: 81px;
  }

  .content__bottom {
    padding-bottom: 34px;
  }

  .popup__picture {
    -ms-flex-preferred-size: 39%;
    flex-basis: 39%;
  }

  .popup__btn-close {
    right: 17px;
    width: 25px;
  }

  .choices__list--dropdown,
  .choices__list[aria-expanded] {
    background-color: var(--color-black);
  }

  /* catalog */
  .catalog__container {
    padding-bottom: 81px;
  }

  .catalog__tabs {
    -ms-flex-preferred-size: 47%;
    flex-basis: 47%;
  }

  .tabs-inner__list {
    padding-bottom: 26px;
    height: auto;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-width: 180px;
    -moz-column-width: 180px;
    column-width: 180px;
    -webkit-column-fill: auto;
    -moz-column-fill: auto;
    column-fill: auto;
  }

  .empty-author {
    padding-top: 70%;
    background-image: url(../img/empty_author--tablet.svg);
    background-size: 107%;
    background-position: 0 top;
  }

  .empty-author__descr {
    line-height: 21px;
  }

  .tabs-inner__content {
    padding-top: 33px;
  }

  .empty-content {
    padding: 25px 0 25px 50%;
  }

  .empty-content::before {
    top: 14%;
    right: 56%;
    bottom: 14%;
  }

  .empty-content::after {
    top: calc(14% + 8px);
    right: calc(56% + 8px);
    bottom: calc(14% + 8px);
    left: 8px;
  }

  .empty-content__subtitle {
    margin-bottom: 9px;
  }

  .empty-content__descr {
    margin-bottom: 8px;
    width: 100%;
    line-height: 21px;
  }

  /* events */
  .events__container {
    padding-top: 19px;
    padding-bottom: 64px;
  }

  .events__title {
    margin-bottom: 34px;
    line-height: 27px;
  }

  .events-card__text {
    padding: 5px 32px 46px;
  }

  .events-card__name {
    margin-bottom: 5px;
    text-align: right;
  }

  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom {
    bottom: 14px;
  }

  /* prodject */
  .prodjects__container {
    padding-top: 55px;
  }

  .swiper-four {
    width: 89%;
  }

  /* showroom */
  .showroom__container {
    border-top: 1px solid var(--color-caca);
    padding-top: 42px;
    padding-bottom: 38px;
  }

  .showroom__subtitle {
    margin-bottom: 2px;
  }

  .showroom__social-subtitle {
    margin-bottom: 4px;
  }

  .btn--stroke {
    padding: 11px 38px;
  }

  .form-custom {
    padding-top: 23px;
    padding-bottom: 30px;
  }

  /* footer */
  .footer__container {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .footer__icon {
    width: 60px;
    height: 60px;
  }

  .footer__item:not(:last-child) {
    margin-right: 20px;
  }
}

@media (max-width: 1010px) {
  :root {
    --height-swiper-three: 683px;
    --height-swiper-four: 106px;
  }

  .header__btns {
    position: absolute;
    z-index: 100;
    right: 50px;
    background-color: transparent;
    width: calc(100% - 50px * 2);
    height: 100%;
    transition: background-color .3s ease-in-out;
    -webkit-transition: background-color .3s ease-in-out;
    -moz-transition: background-color .3s ease-in-out;
    -ms-transition: background-color .3s ease-in-out;
    -o-transition: background-color .3s ease-in-out;
  }

  .seach-form {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .seach-form__input {
    margin-right: 0;
    width: 92%;
  }

  .seach-form__btn-close {
    width: 36px;
    height: 36px;
  }

  .header__btns-wrap {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .header__btns-wrap--active {
    z-index: 200;
    background-color: var(--color-black);
  }

  .header__btns-inner {
    -webkit-transform: translate(calc(100% - 31px), 0%);
    -ms-transform: translate(calc(100% - 31px), 0%);
    transform: translate(calc(100% - 31px), 0%);
  }

  .header__btns-inner--active {
    -webkit-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
  }

  /* hero */
  .hero__swiper-slide--one {
    background-image: url(../img/hero-bg1-tablet768@1x.jpg);
  }

  .hero__swiper-slide--two {
    background-image: url(../img/hero-bg2-tablet768@1x.jpg);
  }

  .hero__swiper-slide--three {
    background-image: url(../img/hero-bg3-tablet768@1x.jpg);
  }

  .hero__descr {
    max-width: 100%;
  }

  /* gallery */
  .gallery {
    background-image: url(../img/gallery-bg768.jpg);
  }

  .gallery__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 80px;
  }

  .gallery__left {
    margin-right: 0;
    margin-bottom: 38px;
  }

  .choices {
    width: min(281px, 100%);
  }

  .content__top {
    margin-bottom: 39px;
  }

  .content__bottom {
    padding-bottom: 0;
  }

  .gallery__right {
    padding-top: 0;
  }

  .gallery__swiper-pagination {
    width: 10%;
  }

  .swiper-second {
    max-width: none;
    width: auto;
  }

  .swiper-slide.swiper-slide-second {
    width: 315px;
  }

  /* catalog */
  .catalog__content {
    padding-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .catalog__tabs {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin-bottom: 50px;
  }

  .catalog__card {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  .card__img {
    margin-bottom: 11px;
  }

  .card__descr-time {
    margin-bottom: 5px;
  }

  .tabs-inner__list {
    height: 340px;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }

  .empty-author {
    padding-top: 67%;
    background-image: url(../img/empty_author--tablet768.svg);
    background-size: 100%;
  }

  .empty-content {
    padding: 67px 84px 67px 45%;
  }

  .empty-author__subtitle {
    margin-bottom: 12px;
  }

  .empty-author__descr {
    margin-bottom: 15px;
    width: 64%;
  }

  .empty-content::before {
    top: 11%;
    right: 59%;
    bottom: 11%;
  }

  .empty-content::after {
    top: calc(11% + 11px);
    right: calc(59% + 11px);
    bottom: calc(11% + 11px);
    left: 11px;
  }

  .empty-content__subtitle {
    margin-bottom: 4px;
  }

  /* events */
  .events__container {
    padding-bottom: 50px;
  }

  .events__card {
    min-height: var(--height-swiper-three);
  }

  .events-card__name {
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
  }

  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom {
    bottom: 0px;
  }

  /* prodjects */

  .prodjects__container {
    padding-top: 70px;
    padding-bottom: 53px;
  }

  .prodjects__aside {
    padding: 27px 0px;
  }

  .swiper-four {
    width: 84%;
  }

  .prodjects__aside-subtitle {
    margin-bottom: 30px;
  }

  .prodjects__article {
    min-height: var(--height-swiper-four);
  }

  .prodjects__slide-btn .prodjects__swiper-button-prev,
  .prodjects__slide-btn .prodjects__swiper-button-next {
    width: 30px;
    height: 30px;
    background-size: 10px 10px;
  }

  .text-visible-prodject,
  .text-visible-about {
    display: none;
  }

  /* showroom */
  .showroom__subtitle {
    margin-bottom: 9px;
  }

  .showroom__address {
    font-size: 14px;
    line-height: 19px;
  }

  .form-custom {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .form__list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .form__item:not(:last-child) {
    margin-right: 0;
  }

  .custom-grid {
    margin-right: -10px;
    margin-left: -10px;
  }

  .custom-grid__child {
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
  }

  .form-custom {
    padding-bottom: 20px;
  }

  .form__input {
    min-width: 324px;
  }

  .btn--stroke {
    padding: 11px 27px;
  }

  .form-custom {
    padding-top: 30px;
    padding-bottom: 20px;
  }

  .showroom__social-subtitle {
    margin-bottom: 5px;
  }

  .social__item:not(:last-child) {
    margin-right: 17px;
  }
}

@media (max-width: 700px) {

  .title {
    font-size: 40px;
    line-height: 38px;
  }

  .tabs-inner__subtitle {
    font-size: 22px;
    line-height: 30px;
  }

  .descr {
    font-size: 14px;
    line-height: 28px;
  }

  /* hero */
  .main-descr {
    font-size: 50px;
    line-height: 60px;
  }

  .hero__content {
    text-align: center;
  }

  .hero-descr {
    font-size: 16px;
    line-height: 20px;
  }

  /* gallery */
  .popup__wrap {
    width: clamp(290px, 59%, 900px);
  }

  .popup__figure {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .popup__picture {
    width: 100%;
  }

  .popup__figcapture {
    padding: 23px;
    padding-top: 17px;
    width: 100%;
    min-height: 400px;
  }

  .popup__subtitle {
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 33px;
  }

  /* catalog */
  .empty-content {
    padding: 25px 0 25px 45%;
  }

  .empty-content__subtitle {
    font-size: 18px;
    line-height: 32px;
  }

  .empty-content__descr {
    font-size: 16px;
    line-height: 22px;
  }

  .tabs-inner__list {
    height: auto;
  }

  /* eventas */
  .events-card__text {
    padding: 0 23px 46px;
  }

  .swiper-four {
    width: 80%;
  }
}

@media (max-width: 500px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }

  .header {
    padding-right: 15px;
    padding-left: 15px;
  }

  .header__btns {
    right: 15px;
    width: calc(100% - 15px * 2);
  }

  .burger--open {
    left: 15px;
  }

  .header-top__container {
    padding: 0;
  }

  .header__popup-wrap {
    padding-left: 15px;
    padding-right: 15px;
  }

  .title {
    font-size: 28px;
  }

  .tabs-inner__subtitle {
    font-size: 25px;
    line-height: 40px;
  }

  .main-descr {
    font-size: 45px;
    line-height: 44px;
  }

  .hero-descr {
    font-size: 12px;
    line-height: 16px;
  }

  /* gallery */
  .choices {
    width: 100%;
  }

  .gallery__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .gallery__slide-btn {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 0;
  }

  .swiper-second {
    margin-bottom: 20px;
    width: 290px;
  }

  .gallery__swiper-btn {
    width: 100%;
  }

  .gallery__swiper-pagination {
    width: 15%;
  }

  /* catalog */
  .tabs-inner__list {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }

  .catalog__descr {
    display: none;
  }

  /* showroom */
  .form__item {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }

  .form__input {
    min-width: 100%;
  }

  .form__btn-text {
    display: none;
  }

  .btn--stroke {
    padding: 10px 32px;
  }
}

@media (max-width: 425px) {
  :root {
    --height-swiper-four: 65px;
  }

  .subtitle {
    font-size: 24px;
    line-height: 32px;
  }

  .subtitle__text-visible {
    display: none;
  }

  .text-visible-prodject,
  .text-visible-about {
    display: block;
  }

  .popup__subtitle {
    font-size: 24px;
    line-height: 33px;
  }

  .descr {
    font-size: 16px;
    line-height: 32px;
  }

  .popup__descr {
    line-height: 22px;
  }

  .btn {
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
  }

  .btn--fill {
    padding: 9px 16px;
  }

  /* popup */
  .header__popup-wrap {
    padding-top: 54px;
    padding-bottom: 26px;
  }

  .nav__list {
    font-size: 16px;
  }

  .nav__item:not(:last-child) {
    margin-bottom: 16px;
  }

  /* header */
  .header {
    padding: 11px 15px;
  }

  .header-top {
    -ms-flex-preferred-size: calc(100% / 2 + 97px / 2);
    flex-basis: calc(100% / 2 + 97px / 2);
  }

  .header-bottom {
    -ms-flex-preferred-size: calc(100% / 2 - 97px / 2);
    flex-basis: calc(100% / 2 - 97px / 2);
  }

  .burger {
    width: 18px;
    height: 18px;
  }

  .burger--open {
    top: 14px;
  }

  .burger__line {
    height: 2px;
  }

  .burger__line:nth-child(2) {
    right: 36%;
  }

  .burger__line:nth-child(3) {
    right: 59%;
  }

  .header__link-enter {
    padding: 12px 31px;
    font-size: 12px;
    line-height: 1;
  }

  .link-enter__icon {
    width: 10px;
    height: 10px;
  }

  .header__btns-wrap {
    bottom: -31px;
    transition: background-color .6s ease-in;
    -webkit-transition: background-color .6s ease-in;
    -moz-transition: background-color .6s ease-in;
    -ms-transition: background-color .6s ease-in;
    -o-transition: background-color .6s ease-in;
    -webkit-transform-origin: top right 200px;
    -ms-transform-origin: top right 200px;
    transform-origin: top right 200px;
    -webkit-animation: bg-to-rev .5s both .3s;
    animation: bg-to-rev .5s both .3s;
  }

  .header__btns-wrap--active {
    background-color: rgba(0, 0, 0, 0.9);
    -webkit-animation: bg-top .5s both .3s;
    animation: bg-top .5s both .3s;
  }

  .header__btns {
    top: -15px;
    padding: 15px 0;
    width: calc(50% + (180px + 24px)/2);
    -webkit-transition: -webkit-transform .3s ease-in-out .3s;
    transition: -webkit-transform .3s ease-in-out .3s;
    transition: transform .3s ease-in-out .3s;
    transition: transform .3s ease-in-out .3s, -webkit-transform .3s ease-in-out .3s;
    -webkit-transition: transform .3s ease-in-out .3s;
    -moz-transition: transform .3s ease-in-out .3s;
    -ms-transition: transform .3s ease-in-out .3s;
    -o-transition: transform .3s ease-in-out .3s;
  }


  .header__btns-inner {
    background-color: inherit;
    -webkit-transform: translate(calc(100% - 20px), 0);
    -ms-transform: translate(calc(100% - 20px), 0);
    transform: translate(calc(100% - 20px), 0);
    -webkit-transition: -webkit-transform .3s ease-in-out .3s;
    transition: -webkit-transform .3s ease-in-out .3s;
    transition: transform .3s ease-in-out .3s;
    transition: transform .3s ease-in-out .3s, -webkit-transform .3s ease-in-out .3s;
    -webkit-transition: transform .3s ease-in-out .3s;
    -moz-transition: transform .3s ease-in-out .3s;
    -ms-transition: transform .3s ease-in-out .3s;
    -o-transition: transform .3s ease-in-out .3s;
  }

  .header__btns-inner--active {
    -webkit-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
    -webkit-transition: transform .3s ease-in-out;
    -moz-transition: transform .3s ease-in-out;
    -ms-transition: transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out;
  }

  .btn-loop {
    width: 24px;
    height: 18px;
    -webkit-animation: slider-bottom-rev .3s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: slider-bottom-rev .3s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  }

  .header__btns-inner--active .btn-loop {
    -webkit-animation: slider-bottom .3s cubic-bezier(0.215, 0.610, 0.355, 1.000) .4s both;
    animation: slider-bottom .3s cubic-bezier(0.215, 0.610, 0.355, 1.000) .4s both;
  }

  .seach-form {
    font-size: 12px;
    transition: opacity .3s ease .4s, visibility 0s ease;
    -webkit-transition: opacity .3s ease .4s, visibility 0s ease;
    -moz-transition: opacity .3s ease .4s, visibility 0s ease;
    -ms-transition: opacity .3s ease .4s, visibility 0s ease;
    -o-transition: opacity .3s ease .4s, visibility 0s ease;
  }

  .seach-form__input {
    width: 180px;
    -webkit-animation: slider-bottom-rev .3s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: slider-bottom-rev .3s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  }

  .header__btns-inner--active .seach-form__input {
    -webkit-animation: slider-bottom .3s cubic-bezier(0.215, 0.610, 0.355, 1.000) .4s both;
    animation: slider-bottom .3s cubic-bezier(0.215, 0.610, 0.355, 1.000) .4s both;
  }

  .seach-form__input::-webkit-input-placeholder {
    opacity: 0;
  }

  .seach-form__input::-moz-placeholder {
    opacity: 0;
  }

  .seach-form__input:-ms-input-placeholder {
    opacity: 0;
  }

  .seach-form__input::-ms-input-placeholder {
    opacity: 0;
  }

  .seach-form__input::placeholder {
    opacity: 0;
  }

  .seach-form__btn-close {
    width: 19px;
    height: 19px;
    background-position-y: 3px;
  }

  @-webkit-keyframes bg-top {
    0% {
      background-position: 50% 100%;
    }

    100% {
      background-position: 50% 0%;
    }
  }

  @keyframes bg-top {
    0% {
      background-position: 50% 100%;
    }

    100% {
      background-position: 50% 0%;
    }
  }

  @-webkit-keyframes bg-top-rev {
    0% {
      background-position: 50% 0;
    }

    100% {
      background-position: 50% 100%;
    }
  }

  @keyframes bg-top-rev {
    0% {
      background-position: 50% 0;
    }

    100% {
      background-position: 50% 100%;
    }
  }

  @-webkit-keyframes slider-bottom {
    0% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }

    100% {
      -webkit-transform: translateY(22px);
      transform: translateY(22px);
    }
  }

  @keyframes slider-bottom {
    0% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }

    100% {
      -webkit-transform: translateY(22px);
      transform: translateY(22px);
    }
  }

  @-webkit-keyframes slider-bottom-rev {
    0% {
      -webkit-transform: translateY(22px);
      transform: translateY(22px);
    }

    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }

  @keyframes slider-bottom-rev {
    0% {
      -webkit-transform: translateY(22px);
      transform: translateY(22px);
    }

    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }

  .header__link-enter-inner {
    padding-bottom: 0;
  }

  /* hero */
  .hero {
    min-height: 350px;
  }

  .hero__container {
    padding-top: 76px;
    padding-bottom: 45px;
  }

  .hero__descr {
    margin-bottom: 58px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }

  .main-descr {
    font-size: 32px;
  }

  /* about-us */
  .about-us__container {
    padding-top: 50px;
    padding-bottom: 41px;
  }

  .about-us__title {
    margin-bottom: 12px;
  }

  .about-us__descr {
    font-size: 14px;
    line-height: 28px;
  }

  /* gallery */
  .gallery__container {
    padding-top: 49px;
    padding-bottom: 48px;
  }

  .gallery__title {
    margin-bottom: 13px;
  }

  .gallery__left {
    margin-bottom: 30px;
  }

  .content__text {
    margin-bottom: 3px;
  }

  .content__top {
    margin-bottom: 28px;
  }

  .gallery__swiper-pagination {
    width: 24%;
  }

  /* catalog */
  .catalog__container {
    padding-top: 53px;
    padding-bottom: 51px;
  }

  .catalog__title {
    margin-bottom: 0;
    line-height: 1;
  }

  .tabs-inner__subtitle {
    font-size: 18px;
    line-height: 32px;
  }

  .tabs-inner__content {
    padding-top: 20px;
    padding-bottom: 21px;
  }

  .tabs-inner__icon {
    width: 30px;
    height: 30px;
  }

  .tabs-inner__list {
    padding-top: 21px;
    padding-bottom: 20px;
  }

  .card__subtitle {
    margin-bottom: 8px;
  }

  .card__descr-time {
    margin-bottom: 13px;
  }

  .empty-content {
    padding: 25px 0 25px 40%;
  }

  .empty-content::before {
    top: 13%;
    right: 69%;
    bottom: 13%;
  }

  .empty-content::after {
    top: calc(13% + 6px);
    right: calc(69% + 6px);
    bottom: calc(13% + 6px);
    left: 6px;
  }

  .empty-content__subtitle {
    margin-bottom: 7px;
  }

  .empty-content__descr {
    line-height: 21px;
  }

  .empty-author {
    padding-top: 69%;
    background-image: url(../img/empty_author--mobile320.svg);
  }

  .empty-author__subtitle {
    font-size: 24px;
    line-height: 33px;
  }

  .empty-author__descr {
    margin-bottom: 4px;
    width: 85%;
    font-size: 16px;
    line-height: 22px;
  }

  /* events */
  .events__container {
    padding-top: 3px;
  }

  .events__title {
    margin-bottom: 17px;
    line-height: 1;
  }

  .events-card__text {
    padding: 9px 22px 46px;
  }

  .events-card__name {
    margin-bottom: 10px;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom {
    bottom: 12px;
  }

  /* prodject */
  .prodjects__container {
    padding-top: 31px;
    padding-bottom: 6px;
  }

  .prodjects__title {
    margin-bottom: 13px;
  }

  .text-visible-prodject,
  .text-visible-about {
    display: inline-block;
  }

  .prodjects__aside {
    padding: 0;
    padding-top: 49px;
  }

  .prodjects__aside-subtitle {
    margin-bottom: 11px;
    font-size: 18px;
    line-height: 32px;
  }

  .swiper-four {
    width: 67%;
  }

  /* showroom */
  .showroom__container {
    border-top: none;
    padding-top: 44px;
    padding-bottom: 20px;
  }

  .showroom__subtitle {
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 25px;
  }

  .form-custom {
    padding-top: 20px;
    padding-bottom: 0;
  }

  .form__input {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .custom-grid__child {
    margin-bottom: 19px;
  }

  .showroom__social-subtitle {
    margin-bottom: 6px;
    font-size: 17px;
    line-height: 32px;
  }

  .social__icon {
    width: 51px;
    height: 51px;
  }

  .showroom__map {
    height: 320px;
  }

  /* footer */
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .footer__icon {
    width: 50px;
    height: 50px;
  }

  .footer__list {
    margin-bottom: 20px;
  }
}
