.prodjects__container {
  padding-top: 69px;
  padding-bottom: 60px;
}

.prodjects__title {
  margin-bottom: 16px;
}

.tooltip {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transform: translateY(4px);
}

.tooltip__btn {
  width: 20px;
  height: 20px;
  background-image: url(../img/i-tooltip.svg);
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-image .3s ease;
}

.tooltip__text {
  position: absolute;
  z-index: 1;
  bottom: calc(100% + 7px);
  left: 50%;
  padding: 10px 10px;
  max-width: 269px;
  width: max-content;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: var(--color-white);
  background-color: var(--color-active);
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transform: translateX(-50%);
  transition: .3s opacity ease-in-out;
}

.tooltip__text::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 50%;
  width: 13px;
  height: 13px;
  background-color: var(--color-active);
  transform: translateX(-50%) rotate(45deg);
}

.tooltip:focus .tooltip__btn {
  background-image: url(../img/i-tooltip-active.svg);
}

.tooltip:hover .tooltip__text {
  visibility: visible;
  opacity: 1;
}

.tooltip__btn:focus {
  outline: none;
  background-image: url(../img/i-tooltip-active.svg);
}

.tooltip__btn:focus+.tooltip__text {
  visibility: visible;
  opacity: 1;
}

.tooltip__btn:hover {
  background-image: url(../img/i-tooltip-active.svg);
}

.prodject-link-btn {
  color: var(--color-amethyst);
  transform: translate(5px);
}

.prodject-link-btn::before {
  bottom: 0;
}

.prodject-link-btn__text {
  border-bottom: 1px solid transparent;
  transition: border-bottom-color .3s ease-in-out;
}

.prodject-link-btn.focus-visible::before {
  color: #9d5cd0;
}

.prodject-link-btn:hover {
  color: var(--color-amethyst);
}

.prodject-link-btn:hover .prodject-link-btn__text {
  border-bottom-color: var(--color-amethyst);
}

.prodject-link-btn:active {
  color: var(--color-active);
}

.prodject-link-btn:active .prodject-link-btn__text {
  border-bottom-color: var(--color-active);
}

.prodjects__aside {
  position: relative;
  padding: 20px 0px;
}

.prodjects__aside-subtitle {
  margin-bottom: 23px;
}

.swiper-fourth {
  width: 1450px;
}

.prodjects__article {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 150px;
  border: 1px solid var(--color-caca);
  transition: border .3s ease;
}

.prodjects__swiper-link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prodjects__swiper-img {
  opacity: .7;
  filter: grayscale(1);
  transition: opacity .1s ease-in-out, filter .1s ease-in-out;
}

.prodjects__swiper-slide:focus-within .prodjects__article {
  border: 1px solid var(--color-active);
}

.prodjects__swiper-slide:focus-within .prodjects__swiper-link {
  outline: none;
}

.prodjects__swiper-slide:hover .prodjects__swiper-img {
  opacity: 1;
  filter: grayscale(0);
}

.prodjects__swiper-slide:active .prodjects__article {
  border: 1px solid var(--color-active);
}


/* .prodjects__swiper-img:focus {
  outline: 1px solid var(--color-active);
}

.prodjects__swiper-img:hover {
  opacity: 1;
  filter: grayscale(0);
}

.prodjects__swiper-img:active {
  border: 1px solid var(--color-active);
} */

.prodjects__slide-btn .prodjects__swiper-button-next,
.prodjects__slide-btn .prodjects__swiper-button-prev {
  background-color: var(--color-gallery);
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-position: center;
  background-size: 7px 7px;
  background-repeat: no-repeat;
}

.prodjects__slide-btn .prodjects__swiper-button-next {
  background-image: url(../img/events-swiper-next.svg);
}

.prodjects__slide-btn .prodjects__swiper-button-prev {
  background-image: url(../img/events-swiper-prev.svg);
}

.prodjects__slide-btn .prodjects__swiper-button-prev,
.prodjects__slide-btn .prodjects__swiper-button-next {
  top: 62%;
}

.prodjects__slide-btn .prodjects__swiper-button-prev {
  left: 0;
  right: auto;
}

.prodjects__slide-btn .prodjects__swiper-button-next {
  left: auto;
  right: 0;
}

.prodjects__swiper-button-prev::after,
.prodjects__swiper-button-next::after {
  display: none;
}
