.showroom__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 35px;
}

.showroom__address {
  font-style: normal;
}

.fieldset-reset {
  margin: 0;
  padding: 0;
  border: none;
}

.form__list {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.form__item {
  position: relative;
}

.form__item:not(:last-child) {
  margin-right: 22px;
}

.form__input {
  padding: 15px 24px;
  border: 1px solid var(--color-main);
  border-radius: 100px;
  min-width: 270px;
  color: var(--color-main);
  transition: background-color .3s ease-in-out;
}

.form__input::placeholder {
  color: var(--color-grey);
}

.form__btn {
  white-space: nowrap;
}

.just-validate-error-field {
  border-color: #d11616;
}

.just-validate-error-label {
  position: absolute;
  top: -35%;
  left: 25px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.form__input.focus-visible {
  background-color: var(--color-form);
  outline: none;
}

.form__input:hover {
  background-color: var(--color-form);
}

.showroom__list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.social__item:not(:last-child) {
  margin-right: 20px;
}

.social__icon {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 42px;
  border: 1px solid transparent;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity .3s ease-in-out;
}

.social__icon:after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border: 1px solid var(--color-circle);
  border-radius: 50%;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.social__icon--watsapp {
  background-image: url(../img/whatsapp-icon.svg);
}

.social__icon--telegram {
  background-image: url(../img/telegram-icon.svg);
}

.social__icon.focus-visible {
  outline: none;
  opacity: .5;
}

.social__icon:hover {
  opacity: .5;
}

.social__icon:active {
  opacity: 1;
}

.social__icon:active::after {
  opacity: 1;
}

.showroom__map {
  width: 100%;
  height: 704px;
}


/* ищем все элементы у которых в имени класса содержиться текст ground-pane */

[class*="ground-pane"] {
  filter: grayscale(1);
}
