/* focus, hover, active */

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --color-black: #000;
  --color-main: #333;
  --color-dove: #666;
  --color-grey: #999;
  --color-disable: #b3b3b3;
  --color-white: #fff;
  --color-caca: #cacaca;
  --color-form: #eaeaea;
  --color-active: #7943a4;
  --color-circle: #9643a4;
  --color-amethyst: #9d5cd0;
  --color-accent: #d1a9f0;
  --color-gallery: #ececec;
  --color-hover: #c283f3;
  --height-swiper-three: 700px;
  --height-swiper-four: 150px;
}

body {
  position: relative;
  overflow-x: hidden;
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-main);
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1630px;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  margin: 0;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.disable-scroll {
  position: relative;
  overflow: hidden;
  /* для айфонов */
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.subtitle {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.descr {
  margin: 0;
}

.descr--width {
  width: 68%
}

.descr-time {
  color: var(--color-caca);
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn {
  display: inline-block;
  padding: 21px 34px;
  border: 3px solid var(--color-amethyst);
  border-radius: 100px;
  color: var(--color-white);
  background-color: transparent;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  transition: color .3s ease-in-out, border-color .3s ease-in-out, background-color .3s ease-in-out;
}

.btn--fill {
  background-color: var(--color-amethyst);
}

.btn--stroke {
  padding: 11px 35px;
  color: var(--color-amethyst);
}

.btn:focus {
  outline: none;
}

.btn.focus-visible {
  outline: 2px solid var(--color-hover);
  outline-offset: 3px;
}

.btn--fill:hover {
  border-color: var(--color-accent);
}

.btn--stroke:hover {
  color: var(--color-white);
  background-color: var(--color-amethyst);
}

.btn:active {
  border-color: var(--color-accent);
  background-color: var(--color-active);
}

.btn--stroke:active.btn--stroke {
  color: var(--color-white);
}


/* link-btn focus, hover, active */

.link-btn {
  position: relative;
  z-index: 100;
  display: inline-flex;
  align-items: center;
  color: var(--color-white);
  transition: color .3s ease;
}

.link-btn>* {
  position: relative;
  z-index: 10;
}

.link-btn__text {
  white-space: nowrap;
  display: inline-block;
  background-color: transparent;
}

.link-btn::before {
  content: "";
  position: absolute;
  z-index: 0;
  top: -3px;
  right: -8px;
  bottom: -3px;
  left: -8px;
  background-color: transparent;
  transition: background-color .3s ease;
}

.link-btn.focus-visible {
  outline: none;
  color: var(--color-white);
}

.link-btn.focus-visible::before {
  background-color: #7943a4;
}

.link-btn:hover {
  color: var(--color-hover);
}

.link-btn:hover::before {
  background-color: transparent;
}

.link-btn:active {
  color: var(--color-active);
}


/* scrollbar */

.simplebar-track.simplebar-vertical {
  top: 0;
  bottom: 0;
  right: -21px;
  width: 2px;
  background-color: var(--color-black);
}

.simplebar-scrollbar::before {
  left: 0;
  right: 0;
  width: 2px;
  /* height: 28px; */
  border-radius: 0;
  background-color: var(--color-white);
}

.simplebar-scrollbar.simplebar-visible:before {
  opacity: 1;
}

/* burger-menu */

.burger {
  display: none;
  position: relative;
  z-index: 200;
  flex-shrink: 0;
  width: 36px;
  height: 28px;
  color: var(--color-white);
  background-color: transparent;
  transition: color .3s ease-in-out;
}

.burger--open {
  position: absolute;
  top: 35px;
  left: 49px;
}

.burger__line {
  position: absolute;
  left: 0;
  height: 3px;
  color: currentColor;
  background-color: currentColor;
}

.burger__line:nth-child(1) {
  top: 0;
  right: 0;
  transition: top .3s cubic-bezier(0.21, 0.83, 0.26, 0.87) .3s, transform .3s cubic-bezier(0.21, 0.83, 0.26, 0.87);
}

.burger__line:nth-child(2) {
  top: 50%;
  right: 23%;
  opacity: 1;
  transform: translateY(-50%);
  transition: opacity .3s cubic-bezier(0.21, 0.83, 0.26, 0.87), right .3s cubic-bezier(0.21, 0.83, 0.26, 0.87) .3s;
}

.burger__line:last-child {
  top: 100%;
  right: 32%;
  transform: translateY(-100%);
  transition: top .3s cubic-bezier(0.21, 0.83, 0.26, 0.87) .3s, right .3s cubic-bezier(0.21, 0.83, 0.26, 0.87) .3s, transform .3s cubic-bezier(0.21, 0.83, 0.26, 0.87);
}

.burger.burger--open .burger__line:nth-child(1) {
  top: 50%;
  right: 0;
  left: 0;
  transform: translateY(-50%) rotate(45deg);
  transition: top .3s cubic-bezier(0.21, 0.83, 0.26, 0.87), transform .3s cubic-bezier(0.21, 0.83, 0.26, 0.87) .3s;
}

.burger.burger--open .burger__line:nth-child(2) {
  right: 0;
  opacity: 0;
  transition: opacity .3s cubic-bezier(0.21, 0.83, 0.26, 0.87) .3s, right .3s cubic-bezier(0.21, 0.83, 0.26, 0.87);
}

.burger.burger--open .burger__line:last-child {
  top: 50%;
  right: 0;
  left: 0;
  transform: translateY(-50%) rotate(-45deg);
  transition: top .3s cubic-bezier(0.21, 0.83, 0.26, 0.87), transform .3s cubic-bezier(0.21, 0.83, 0.26, 0.87) .3s;
}

.burger.focus-visible {
  color: var(--color-amethyst);
  outline: none;
}

.burger:hover {
  color: var(--color-amethyst);
}

.burger:active {
  color: var(--color-active);
}
